<div class="single-blog-post style-4">
    <div class="post-thumbnail">
        <img src='<%-category.image%>' alt="">
    </div>
    <div class="post-content text-center">
        <a href="/category/<%-category.name%>" class="post-title"><%-category.name%></a>
    </div>
</div>