<div class="news-posts-area bg-white p-30 mb-30 box-shadow">
    <% newsList.forEach(news => { %> 
    <%- include('./news-list-item', {news: news.newsContent, tags: news.listTag}) %>
    <% }) %>

    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
        </ul>
    </nav>

</div>