<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url('<%- category.image%>');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2><%- category.name%></h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Archive Post Area Start ##### -->
<div class="archive-post-area mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <%- include('./elements/news-list',{newsList: newsList, category: category}) %>        
            </div>

            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">
                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30">
                        <!-- Social Followers Info -->
                        <div class="social-followers-info">
                            <!-- Facebook -->
                            <a href="#" class="facebook-fans"><i class="fa fa-facebook"></i> 4,360 <span>Fans</span></a>
                            <!-- Twitter -->
                            <a href="#" class="twitter-followers"><i class="fa fa-twitter"></i> 3,280 <span>Followers</span></a>
                            <!-- YouTube -->
                            <a href="#" class="youtube-subscribers"><i class="fa fa-youtube"></i> 1250 <span>Subscribers</span></a>
                            <!-- Google -->
                            <a href="#" class="google-followers"><i class="fa fa-google-plus"></i> 4,230 <span>Followers</span></a>
                        </div>
                    </div>

                    <!-- Sidebar Widget -->
                    <%- include('./elements/sidebar-widget.ejs',{title: "Danh mục", categories:lcCategories, type:2}) %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Archive Post Area End ##### -->
